<md-card class="add-card">
  <md-card-header>
    <md-card-header-text>
      <h1 layout="row" layout-align="center center">
        {{ctrl.title}}
      </h1>
    </md-card-header-text>
  </md-card-header>
  <md-card-content>
    <form ng-submit="ctrl.onSubmit()">
      <div layout="row" layout-align="center center">
        <md-input-container flex>
          <label>Name</label>
          <input type="text" ng-model="ctrl.model.name">
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center">
        <md-input-container flex>
          <label>Company</label>
          <input type="text" ng-model="ctrl.model.company">
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center">
        <md-input-container flex>
          <label>Phone</label>
          <input type="text" ng-model="ctrl.model.phone">
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center">
        <md-input-container flex>
          <label>Email</label>
          <input type="text" ng-model="ctrl.model.email">
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center">
        <md-button type="submit" class="md-primary">
          {{ctrl.submitText}}
        </md-button>
        <md-button class="md-accent" ng-click="ctrl.reset()">
          clear
        </md-button>
        <md-button type="reset" class="md-warn" ng-click="edit.back()">
          go back
        </md-button>
      </div>
    </form>
  </md-card-content>
</md-card>
