<md-list>
<md-list-item ng-repeat="customer in customers.customers">
{{customer.name}}
</md-list-item>
</md-list>


<md-list>
  <div ng-if="list.loading">
    <h2>Loading&hellip;</h2>
  </div>
  <md-list-item ng-repeat="customer in list.customers">
    <div class="avatar">
      <md-icon class="icon md-accent">person</md-icon>
    </div>
    <div class="md-list-item-text">
      <h3>{{customer.name}}</h3>
      <p>{{customer.company}}</p>
    </div>
    <md-menu class="md-secondary">
      <md-button class="md-icon-button">
        <md-tooltip md-direction="left">Click to show menu</md-tooltip>
        <md-icon> menu </md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button class="md-warn" ng-click="list.showDetails(customer.id)">
            <md-icon>card_membership</md-icon>
            Details
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button class="md-accent" ng-click="list.edit(customer)">
            <md-icon>edit</md-icon>
            Edit
          </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button class="md-warn" ng-click="list.delete(customer.id)">
            <md-icon>delete</md-icon>
            Delete
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-list-item>
</md-list>
